body {
    text-align: center;
    background: #87CEEB;
}

canvas {
    border: 2px solid black;
    background: #BFD1E5;
}

.controls {
    margin-top: 10px;
}

button {
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.inventory {
    margin-top: 10px;
}

.inventory button {
    width: 50px;
    height: 50px;
}
